# ---> VisualStudioCode
.settings


# ---> macOS
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# ---> Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# ---> Linux
*~

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Java
*.class

# Build results
build/
out/
.gradle/
.idea/

local.properties

